.Create {
    background-color: lightyellow;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 2em 15em;
    box-shadow: .5em .5em 2em #282c34;
    border-radius: 1em;
}

.inputLabelField {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.Create input {
    height: 2em;
    border-radius: .3em;
    border: none;
    background-color: #ced4da;
}

.Create input::placeholder {
    padding-left: .5em;
}

.Create label {
    display: flex;
    justify-content: flex-start;
}

.inputDoubleField {
    display: flex;
    justify-content: center;
    gap: 5em;
    margin: 0 auto;
}

.submitButton {
    margin-bottom: 1em;
    background-color: dodgerblue;
    border-radius: .5em;
    outline: none;
    border: none;
    padding: .5em 1em;
    font-size: 1em;
    color: white;
}